#template_config.txt
template_param.txt
.gitignore
*.pyc
MetaPathways2
.*.swp
blastDB
#executables/*
output
regtests/output
.DS_Store
.*
executables/Unix/*
executables/Unix
executables/openSUSE/*

config/template_param_niels.txt
config/template_config_niels.txt
